@font-face {
  font-family: 'NoirPro';
  src: url('fonts/NoirPro-Regular.woff') format('woff'),
    url('fonts/NoirPro-Regular.wof2') format('wof2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'NoirPro';
  src: url('fonts/NoirPro-Bold.woff') format('woff'),
    url('fonts/NoirPro-Bold.wof2') format('wof2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'NoirPro';
  src: url('fonts/NoirPro-Medium.woff') format('woff'),
    url('fonts/NoirPro-Medium.wof2') format('wof2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

.primaryButton {
  @apply text-white 
    bg-primary
    hover:bg-primaryHover
    transition-colors
    duration-300
    font-medium 
    rounded-lg 
    px-5 py-2.5 
    mr-2 mb-2
    focus:ring-blue-300 
    focus:ring-4 
    focus:outline-none;
}

.formLabel {
  @apply block 
  mb-2 
  text-lg 
  font-medium
  text-gray-900;
}

.formInput {
  @apply bg-gray-50 
  border 
  border-gray-300 
  text-gray-900 
  text-sm 
  rounded-lg 
  focus:ring-blue-500 
  focus:border-blue-500 
  block 
  w-full 
  p-2.5;
}
