/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
@import './components/QuestionnaireComponents/style.css';
@import './components/ContactUs/style.css';
@import './views/Pricing/style.css';
@import './components/QuestionnaireOrTemplates/style.css';
@import './views/temps/style.css';
@import './views/SignInUp/style.css';
@import './components/GetStarted/style.css';
@import './components/About/style.css';
@import './views/Questionnaire/style.css';
@import './views/Profile/style.css';
@import './components/ProfileComponent/style.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styling */
html {
  @apply scroll-pt-[100px];
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  @apply bg-secondary;
}

body::-webkit-scrollbar-thumb {
  background: #888;
}

body {
  scrollbar-width: none;
  font-family: 'NoirPro', sans-serif;
  font-feature-settings: 'kern' 1;
  font-kerning: normal;
}

/* Home styling */
.homeStyle {
  @apply flex flex-col justify-around items-center 
  h-[85vh] 
bg-[#D7CEC7] 
  space-x-4;
}

/* Parallax styling */
.parallax-img {
  @apply min-h-[100vh] fixed top-0 left-0 w-screen -z-10;
}
.parallax {
  @apply relative h-1/2 bg-fixed bg-center bg-no-repeat bg-cover;
}

@media (min-width: 640px) {
  .homeStyle {
    @apply flex-row;
  }

  .parallax-img {
    @apply min-h-[100vh] fixed top-0 left-2/4 -z-10 -translate-x-2/4;
  }
}
